html {
  background-color: #131313;
  color: white;
}


#dropdown, #skin {
  all:unset;
  margin-bottom: 1rem;
}

#skin {
  margin-right: 1rem;
  font-family: monospace;
  background: #272727;
  border-radius: 10px;
  padding: 1rem;
  width: calc(100%-5rem);
}

#dropdown {
  border: 0px solid black;
  border-left-width: 4px;
  align-items: center;
  padding: 16px 32px;
  margin-left: 1rem;
  text-align: center;
}
#dropdown::after {
  content: '';
  border: 0px solid black;
  border-bottom-width: 4px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
#drowdown > *::after {
  border:0;
  border-right: 5px;
  border-left: 5px;
}

button {
  all:unset;
  margin: 2rem;
  margin-right: 9rem;
  margin-left: 9rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #3f3f3f;
  text-align: center;
  color: #272727;
}
button:hover {
  background-color: #373737;
}
body {
  margin:0;
  padding:0;
}

.upper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  margin-right: 1rem;
  font-family: monospace;
  background: #272727;
  border-radius: 10px;
  padding: 1rem;
  padding-top: 2rem;
  width: calc(100%-5rem);
  margin-top: 3rem;
}



.base {
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin:auto;
  background-color:#131313;
  min-height: 45vh;
}
#skin:focus {
  background: #232323;
}

.itema {
  width: 495px;
  height: 275px;
  display:grid;
  grid-template-columns: 30px 125px 30px 125px 30px 125px 30px;
  grid-template-rows: 100px 25px 125px 25px;
  background-color: #070707;
  color: white;
  margin:auto;
  margin-top: 10px;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 0px 12px black;
}

.name {
  all: unset;
  grid-column: 1 / span 5;
  font-size: 2rem;
  font-family: monospace;
}
.infoHolder {
  grid-column: 6 / span2;
  grid-row: 1 / auto;
  font-family: monospace;
  font-size: 2rem;
}
.auth {
  font-size: 1.5rem;
}
img {
  background-color: #131313;
  border: 5px solid #131313;
  transform: translate(-5px,-5px);
  width: 125px;
  height: 125px;
  
}
.prev {
  grid-column: 2 / span 1;
  grid-row: 3 / span 2;
}
.diffuse {
  grid-column: 4 / span 1;
  grid-row: 3 / span 2;
}
.emiss {
  grid-column: 6 / span 1;
  grid-row: 3 / span 2;
}